body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
}



.cell {
    display: inline-block;
    border: solid 0.5px lightgray;
    padding: 5px;
}

.gridRow {
    margin-bottom: -8px;
}

#container {
    display: block;
    padding: 75px;
}